# Ignore virtual environment
venv/
.env/
.env*/
.venv/

# Ignore Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore log files
*.log

# Ignore compiled / packaged files
*.egg
*.egg-info/
dist/
build/
.eggs/

# Ignore test coverage and reports
htmlcov/
.tox/
.coverage
coverage.xml
*.cover
.pytest_cache/

# Ignore IDE / editor settings
.vscode/
.idea/
*.swp
